ion-back-button {
    --icon-font-size: 300%;
}

img {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
}

ion-item {
    src: url(../../assets/fonts/PermanentMarker-Regular.ttf);
    font-family: PermanentMarker-Regular;
    font-weight: bold;
  }
.buttonRegister {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    font-weight: bold;
}

ion-toolbar {
    color: black;
}

ion-title {
    text-align: center;
    padding-right: 25%;
    font-weight: bold;
}